<section class="content">
  <h1>What Are Mutual Funds ?</h1>
  <div class="mutual-funds-content">
    A mutual fund is a company that pools money from many investors and invests the money in securities such as stocks, bonds, and short-term debt. The combined holdings of the mutual fund are known as its portfolio. Investors buy shares in mutual funds.
  </div>
  <div class="mutual-funds-content">
    SIP CALCULATOR - CALCULATE SIP RETURNS & INVEST IN SIP
    <div class="main-content row-inner bg-apricot">
      <div>
        <div class="cal-tax-exemption">

          <div class="tax-form-heading row-flex justify-content-between">
            <h2 class="section-title-sm">
               Calculate the future value of your SIP investment
            </h2>
          </div>

          <div class="calcculator-form">
            
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


